In [1]:
# Stock data
import quandl
import datetime
# Analyzing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import model_selection
from sklearn import preprocessing
from sklearn import metrics

In [9]:
# stock_MSFT = quandl.get("WIKI/MSFT")
# stock_MSFT.to_csv('MSFT.csv')

In [93]:
stock_MSFT = pd.read_csv('MSFT.csv')
stock_MSFT.index = pd.to_datetime(stock_MSFT.Date)
stock_MSFT

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,,
1986-03-13,1986-03-13,25.500,29.250,25.50,28.00,3582600.0,0.0,1.0,0.058941,0.067609,0.058941,0.064720,1.031789e+09
1986-03-14,1986-03-14,28.000,29.500,28.00,29.00,1070000.0,0.0,1.0,0.064720,0.068187,0.064720,0.067031,3.081600e+08
1986-03-17,1986-03-17,29.000,29.750,29.00,29.50,462400.0,0.0,1.0,0.067031,0.068765,0.067031,0.068187,1.331712e+08
1986-03-18,1986-03-18,29.500,29.750,28.50,28.75,235300.0,0.0,1.0,0.068187,0.068765,0.065876,0.066454,6.776640e+07
1986-03-19,1986-03-19,28.750,29.000,28.00,28.25,166300.0,0.0,1.0,0.066454,0.067031,0.064720,0.065298,4.789440e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,2018-03-21,92.930,94.050,92.21,92.48,23753263.0,0.0,1.0,92.930000,94.050000,92.210000,92.480000,2.375326e+07
2018-03-22,2018-03-22,91.265,91.750,89.66,89.79,37578166.0,0.0,1.0,91.265000,91.750000,89.660000,89.790000,3.757817e+07
2018-03-23,2018-03-23,89.500,90.460,87.08,87.18,42159397.0,0.0,1.0,89.500000,90.460000,87.080000,87.180000,4.215940e+07
2018-03-26,2018-03-26,90.610,94.000,90.40,93.78,55031149.0,0.0,1.0,90.610000,94.000000,90.400000,93.780000,5.503115e+07
2018-03-27,2018-03-27,94.940,95.139,88.51,89.47,53704562.0,0.0,1.0,94.940000,95.139000,88.510000,89.470000,5.370456e+07

In [94]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
stock_MSFT['Close_norm'] = scaler.fit_transform(np.array(stock_MSFT['Close']).reshape(-1, 1))

In [96]:
stock_MSFT_Close = pd.DataFrame(stock_MSFT['Close_norm'])

In [97]:
Next_N_day = 30
GT = stock_MSFT_Close.iloc[Next_N_day :]

In [110]:
stock_MSFT_train_valid = stock_MSFT_Close.iloc[:-Next_N_day]
stock_MSFT_train_valid = stock_MSFT_train_valid.assign(GT=GT.values)

stock_MSFT_test = stock_MSFT_Close.iloc[-Next_N_day:]

stock_MSFT_train_valid

            Close_norm        GT
Date
1986-03-13    0.077978  0.112871
1986-03-14    0.084046  0.114388
1986-03-17    0.087081  0.108320
1986-03-18    0.082529  0.103768
1986-03-19    0.079495  0.100734
...                ...       ...
2018-02-06    0.462285  0.469264
2018-02-07    0.451848  0.452940
2018-02-08    0.423205  0.437102
2018-02-09    0.442685  0.477153
2018-02-12    0.448935  0.450998

[8046 rows x 2 columns]

In [104]:
# เตรียมข้อมูล train, validate
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(
    stock_MSFT_train_valid.Close_norm,
     stock_MSFT_train_valid.GT,
    test_size=0.33, random_state=42)

In [109]:
y_train

Date
2014-10-09    0.203592
2001-07-17    0.276655
2017-05-30    0.339826
2012-08-23    0.089204
1998-06-11    0.598701
                ...
2006-11-28    0.097457
2007-07-26    0.080648
1989-08-07    0.287335
2016-05-10    0.217489
2015-01-13    0.175405
Name: GT, Length: 5390, dtype: float64